.branding
{
  height: 100vh;
  background-color: #1B1B1B;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.branding img
{
  margin-top: 10%;
  height: 45%;
}
.branding h1
{
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 7.5px;
  margin: 0;
}
.branding span
{
  color: #ffffff;
  font-size: 1.1rem;
  text-transform: uppercase;
}
@media screen and (max-width: 575px)
{
  .branding
  {
    height: 30vh;
    background-color: #1B1B1B;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 0 0 3px #1B1B1B;
  }
  .branding img
  {
    margin-top: 15px;
    height: 45%;
  }
  .branding span
  {
    display: none;
  }
}
form 
{
  flex: none !important;
}
.form
{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}
.form .form-group label
{
  color: #1B1B1B;
  text-transform: uppercase;
}
.form .form-group input
{
  color: #1B1B1B;
  border: none;
  background-color: rgba(27, 27, 27, 0.05);
  outline: none !important;
}
.form button
{
  width: 100%;
  background-color: #ffffff;
  border: 2px solid #1B1B1B;
  color: #1B1B1B;
  margin-top: 25px;
  box-sizing: border-box;
}
.form button:hover, .form button:focus
{
  background-color: #1B1B1B;
  color: #ffffff;
  border: 2px solid #1B1B1B;
}
.form button:active
{
  background-color: #252525 !important;
  color: #ffffff;
  border: 2px solid #252525 !important;
}
.form .message
{
  text-align: center;
}
.form .message a
{
  display: inline;
  color: #1B1B1B;
}
.btn-home
{
  color: #D65A31;
}
.btn-home:hover, .btn-home:focus, .btn-home:active
{
  color: rgb(212, 101, 64);
}