.container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box-web
{
  background-color: #f7f7f7;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); */
  box-shadow: 5px 5px 7px #ebebeb, 
  -5px -5px 7px #ffffff;
  border-radius: 15px;
  width: calc(100% / 3 - 40px);
  margin: 20px;
  padding: 25px;
  box-sizing: border-box;
}
.collaborator
{
  border-top: 4px solid rgb(155, 62, 142);
  border-left: 4px solid #f7f7f7;
  border-right: 4px solid #f7f7f7;
}
@media screen and (max-width: 991px){.box-web { width: calc(100% / 2 - 40px); }}
@media screen and (max-width: 768px){.box-web { width: calc(100% - 40px);margin-left: 30px; }}
.box-web .box-header
{
  text-align: center;
  margin-bottom: 25px;
}
.box-web .box-header h3
{
  color: #D65A31;
  font-weight: bold;
  margin: 0;
}
.box-web .box-header span
{
  color: #272524;
  margin-left: 3px;
}
.box-web .box-body
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-web .box-body .info
{
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}
.box-web .box-body .info h4
{
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}
.box-web .box-body .info .btn
{
  display: inline-block;
  border: 1px solid #D65A31;
  color: #D65A31;
  background-color: #f7f7f7;
  box-sizing: border-box;
  margin-left: 10px;
}
.box-web .box-body .info .btn:hover
{
  border: 1px solid #D65A31;
  color: #ffffff;
  background-color: #D65A31;
}
.box-web .box-body .info .btn:active
{
  border: 1px solid #d66a46;
  color: #ffffff;
  background-color: #d66a46;
}
.box-web .box-body .uuid
{
  display: block;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 3px;
  color: #D65A31;
}
.box-web .box-body .iframe
{
  display: block;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 3px;
  color: #D65A31;
}

.empty
{
  background-color: #f7f7f7;
  box-shadow: 5px 5px 7px #ebebeb, 
  -5px -5px 7px #ffffff;
  margin-top: 30vh;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}
.empty h3
{
  color: #d66a46;
  font-weight: bold;
}
.empty h4
{
  color: #272524;
  font-size: 1rem;
}
.empty .btn
{
  margin-top: 25px;
  border: 2px solid #272524;
}
.empty .btn:hover, .form .btn:focus
{
  background-color: #1B1B1B;
  color: #ffffff;
  border: 2px solid #1B1B1B;
}
.empty .btn:active
{
  background-color: #252525 !important;
  color: #ffffff;
  border: 2px solid #252525 !important;
}