:root
{
  font-family: Arial, Helvetica, sans-serif !important;
}

body
{
  margin: 0 !important;
  padding: 0 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: none;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
select:focus,
select:active,
select:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.popup .alert-success
{
  margin-left: 25px;
  margin-right: 35px;
  margin-top: 25px;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 7px #ebebeb, 
  -5px -5px 7px #ffffff;
  border: none;
  color: #1cb475;
  font-size: 1.1rem;
  width: 50%;
}
.popup .alert-error
{
  margin-left: 25px;
  margin-right: 35px;
  margin-top: 25px;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 7px #ebebeb, 
  -5px -5px 7px #ffffff;
  border: none;
  color: #b41c1c;
  font-size: 1.1rem;
  width: 50%;
}
@media screen and (max-width:768px)
{
  .popup .alert
  {
    margin-left: 0;
    margin-right: 50px;
    width: calc(100% - 50px);
  }
}

.delete-confirm
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(247, 247, 247, .5);
  z-index: 1000;
}
.delete-confirm .delete-box
{
  margin-top: 25vh;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 7px #ebebeb, 
  -5px -5px 7px #ffffff;
  border-radius: 15px;
  padding: 50px;
  text-align: center;
}
.delete-confirm .delete-box h4
{
  font-weight: bold;
  margin-bottom: 15px;
}
.delete-confirm .delete-box .delete-choose .cancel
{
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #D65A31;
  color: #D65A31;
  background-color: #f7f7f7;
  box-sizing: border-box;
}
.delete-confirm .delete-box .delete-choose .cancel:hover,.delete-confirm .delete-box .delete-choose .cancel:focus
{
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #D65A31;
  background-color: #D65A31;
}
.delete-confirm .delete-box .delete-choose .cancel:active
{
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #dd7a58;
  background-color: #dd7a58;
}
.delete-confirm .delete-box .delete-choose .delete, .delete-confirm .delete-box .delete-choose a, .delete-confirm .delete-box .delete-choose a:hover, .delete-confirm .delete-box .delete-choose a:focus, .delete-confirm .delete-box .delete-choose a:active
{
  color: #E34545 !important;
  text-transform: uppercase;
}
.add-collaborator
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(247, 247, 247, .5);
  z-index: 1000;
}
.add-collaborator .add-box
{
  margin-top: 25vh;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 7px #ebebeb, 
  -5px -5px 7px #ffffff;
  border-radius: 15px;
  padding: 50px;
  text-align: center;
}
.add-collaborator .add-box h4
{
  font-weight: bold;
  margin-bottom: 15px;
}
.add-collaborator .add
{
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #D65A31;
  color: #D65A31;
  background-color: #f7f7f7;
  box-sizing: border-box;
}
.add-collaborator .add:hover,.add-collaborator .add:focus
{
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #D65A31;
  background-color: #D65A31;
}
.add-collaborator .add:active
{
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #dd7a58;
  background-color: #dd7a58;
}
.add-collaborator .close-add
{
  position: absolute;
  top: 15px;
  right: 15px;
  border: 2px solid #b41c1c;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 25px;
  color: #b41c1c;
  cursor: pointer;
}