:root
{
  font-family: Arial, Helvetica, sans-serif !important;
}

body
{
  margin: 0 !important;
  padding: 0 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: none;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
select:focus,
select:active,
select:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.popup .alert
{
  margin-left: 25px;
  margin-right: 35px;
  margin-top: 25px;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 7px #ebebeb, 
  -5px -5px 7px #ffffff;
  border: none;
  color: #1cb475;
  font-size: 1.1rem;
  width: 50%;
}
@media screen and (max-width:768px)
{
  .popup .alert
  {
    margin-left: 0;
    margin-right: 50px;
    width: calc(100% - 50px);
  }
}