.profil
{
  background-color: #f7f7f7;
  box-shadow: 5px 5px 7px #ebebeb, 
  -5px -5px 7px #ffffff;
  border-radius: 15px;
  margin: 20px;
  padding: 25px;
  padding-left: 35Px;
  padding-right: 35Px;
}
.profil .profil-header
{
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}
.profil .profil-header .profil-icon
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profil .profil-header .profil-title
{
  margin-left: 50px;
}
.profil .profil-header h1
{
  font-size: 1.5rem;
  font-weight: bold;
  color: #d65a31;
  margin: 0;
  margin-top: 5px;
}
.profil .profil-header h4
{
  font-size: .9rem;
}
.profil .profil-body
{
  margin-top: 25px;
}
.profil .profil-body .profil-info
{
  position: relative;
}
.profil .profil-body .profil-info h3
{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
.profil .profil-body .profil-info h5
{
  font-size: 1rem;
}
.user-edit
{
  position: absolute;
  top: 5px;
  right: 40px;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #D65A31;
  color: #D65A31;
  background-color: #f7f7f7;
  box-sizing: border-box;
  margin-left: 10px;
}
.user-edit:hover,.user-edit:focus
{
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #D65A31;
  background-color: #D65A31;
}
.user-edit:active
{
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #dd7a58;
  background-color: #dd7a58;
}