.articles{
  position: relative;
}
.articles-content
{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articles-content .article
{
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  margin-bottom: 25px;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 7px #f1f1f1, 
  -5px -5px 7px #ffffff;
  border-radius: 15px;
}
.articles-content .article .article-header
{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #27252427;
}
.articles-content .article .article-header h3
{
  color: #272524;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}
.articles-content .article .article-header .type
{
  background-color: rgba(27, 27, 27, 0.05);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}
.articles-content .article .article-header .name
{
  font-size: .9rem;
  font-weight: bold;
  margin-left: 2.5px;
}
.articles-content .article .article-header .version
{
  font-size: .7rem;
  margin-left: 2.5px;
}
.articles-content .article .article-header .date
{
  font-size: .7rem;
  margin-left: 2.5px;
  margin-top: 10px;
  color: #272727;
  margin-bottom: 5px;
  font-style: italic;
}
.articles-content .article .article-body .article-del
{
  color: #E34545;
  text-transform: uppercase;
}
.articles-content .article .article-body .article-edit
{
  color: #D65A31;
  text-transform: uppercase;
  border: 1px solid #D65A31;
}
.articles-content .article .article-body .article-edit:hover,.articles-content .article .article-body .article-edit:focus
{
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #D65A31;
  background-color: #D65A31;
}
.articles-content .article .article-body .article-edit:active
{
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #dd7a58;
  background-color: #dd7a58;
}
.article .article-body p
{
  white-space: pre-wrap;
}
.box-web
{
  background-color: #f7f7f7;
  box-shadow: 5px 5px 7px #ebebeb, 
  -5px -5px 7px #ffffff;
  border-radius: 15px;
  margin-top: 50px;
  padding: 25px;
  margin-right: 50px;
  position: fixed;
}
@media screen and (max-width:767px)
{
  .box-web
  {
    position: relative;
  }
}
.box-web .box-header
{
  text-align: center;
  margin-bottom: 25px;
}
.box-web .box-header h3
{
  color: #D65A31;
  font-weight: bold;
  margin: 0;
}
.box-web .box-header span
{
  color: #272524;
  margin-left: 3px;
}
.box-web .box-body
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-web .box-body .info
{
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}
.box-web .box-body .info h4
{
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}
.box-web .box-body .info .btn
{
  display: inline-block;
  border: 1px solid #D65A31;
  color: #D65A31;
  background-color: #f7f7f7;
  box-sizing: border-box;
  margin-left: 10px;
}
.box-web .box-body .info .btn:hover
{
  border: 1px solid #D65A31;
  color: #ffffff;
  background-color: #D65A31;
}
.box-web .box-body .info .btn:active
{
  border: 1px solid #d66a46;
  color: #ffffff;
  background-color: #d66a46;
}
.box-web .box-body .uuid
{
  display: block;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 3px;
  color: #D65A31;
}
.box-web .box-body .iframe
{
  display: block;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 3px;
  color: #D65A31;
}
.website-man
{
  margin: 0 !important;
}