.form
{
  background-color: #272524;
  min-height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}
.form-container
{
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  padding-left: 65px;
}
.form-container h1
{
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.form .form-group label
{
  color: #ffffff;
  text-transform: uppercase;
}
.form .form-group input
{
  color: #ffffff;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  outline: none !important;
}
.form select,.form select:active,.form select:focus, .form textarea, .form textarea:active, .form textarea:focus
{
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  outline: none !important;
}
.form textarea{
  height: 150px;
}
.form select option {
  background-color: #272524;
}
.form button
{
  width: 100%;
  background-color: #272524;
  border: 2px solid #ffffff;
  color: #ffffff;
  margin-top: 25px;
  box-sizing: border-box;
}
.form button:hover, .form button:focus
{
  background-color: #ffffff;
  color: #272524;
  border: 2px solid #ffffff;
}
.form button:active
{
  background-color: #e9e9e9 !important;
  color: #272524 !important;
  border: 2px solid #e9e9e9 !important;
}
.form .message
{
  text-align: center;
}
.form .message a
{
  display: inline;
  color: #1B1B1B;
}
.articles-content
{
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 100%;
}
.articles-content .article
{
  width: calc(100% - 80px);
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 25px;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 7px #f1f1f1, 
  -5px -5px 7px #ffffff;
  border-radius: 15px;
}
.articles-content .article .article-header
{
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #27252427;
}
.articles-content .article .article-header h3
{
  color: #272524;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}
.articles-content .article .article-header .type
{
  background-color: rgba(27, 27, 27, 0.05);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}
.articles-content .article .article-header .name
{
  font-size: .9rem;
  font-weight: bold;
  margin-left: 2.5px;
}
.articles-content .article .article-header .date
{
  font-size: .7rem;
  margin-left: 2.5px;
  margin-top: 10px;
  color: #272727;
  margin-bottom: 5px;
  font-style: italic;
}
.article .article-body p
{
  white-space: pre-wrap;
}